# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

config BOARD_NICE_NANO_832
    select SOC_NRF52832_QFAA
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE