// overlay for pad17air keyboard


#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/* keyboard matrix configuration */
/ {
    chosen {
        zmk,physical-layout = &pad17air_layout; 
    };

    kscan0: kscan {        
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
        wakeup-source;
        diode-direction = "col2row"; // 设置二极管方向为列到行

        //row-gpios for MCU input pins
        row-gpios 
            = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 0
            , <&gpio0 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 1
            , <&gpio1 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 2
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 3
            , <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 4
            ;

        // col-gpios for MCU output pins
        col-gpios
            = <&gpio0 2  GPIO_ACTIVE_HIGH> // col 0
            , <&gpio0 0  GPIO_ACTIVE_HIGH> // col 1
            , <&gpio0 1  GPIO_ACTIVE_HIGH> // col 2
            , <&gpio0 5  GPIO_ACTIVE_HIGH> // col 3
            ;
	};
   
   default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
		columns = <4>;
		rows = <5>;
        // ┌───┬───┬───┬───┐
        // │NUM│ / │ * │ - │
        // ├───┼───┼───┼───┤
        // │ 7 │ 8 │ 9 │ + │
        // ├───┼───┼───┤   │
        // │ 4 │ 5 │ 6 │   │
        // ├───┼───┼───┼───┤
        // │ 1 │ 2 │ 3 │RET│
        // ├───┴───┼───┤   │
        // │ 0     │ . │   │
        // └───────┴───┴───┘
		map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
            RC(2,0) RC(2,1) RC(2,2) 
            RC(3,0) RC(3,1) RC(3,2) RC(3,3)
            RC(4,0)         RC(4,2) 
		>;
    };

    pad17air_layout: pad17air_layout {
		compatible = "zmk,physical-layout";
		display-name = "Pad17Air";
	    kscan = <&kscan0>;
		transform = <&default_transform>; 

        // mandotory for supporting ZMK Studio
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 200  300  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 200  300  300       0     0     0>
            , <&key_physical_attrs 200 100    0  400       0     0     0>
            , <&key_physical_attrs 100 100  200  400       0     0     0>
            ;
    };


}; 




/*RGB LED support by SPI2 */

#include <dt-bindings/led/led.h> 

&pinctrl {
    spi2_default: spi2_default {
        group1 {
            psels = <
                NRF_PSEL(SPIM_SCK, 0, 6) //mandatory NO USE pin for SPI2 to work, even if not used
                NRF_PSEL(SPIM_MOSI, 0, 11)
            >;
            
        };
    };

    spi2_sleep: spi2_sleep {
        group1 {
             psels = <
                NRF_PSEL(SPIM_SCK, 0, 6) //mandatory NO USE pin for SPI2 to work, even if not used
                NRF_PSEL(SPIM_MOSI, 0, 11)
            >;
            low-power-enable;
        };
    };
};

&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi2_default>;
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

               reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <4000000>;

        /* WS2812 */
        chain-length = <17>; /* number of LEDs */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN
                         LED_COLOR_ID_RED
                         LED_COLOR_ID_BLUE>;
    };
};

// / {
//     ex2: ext_power {
//         compatible = "zmk,ext-power-generic";
//         control-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
//         init-delay-ms = <50>;
//     };
// };
    // Node name must match original "EXT_POWER" label to preserve user settings.
/{
    chosen {
        // zmk,ext-power = &ex2;
        zmk,underglow = &led_strip;
    };

    EXT_POWER {
        compatible = "zmk,ext-power-generic";
        control-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
        init-delay-ms = <50>;
    };
};

/* State and bluetooth led support */

#include <dt-bindings/zmk/hid_indicators.h>

/ {
    leds {
        compatible = "gpio-leds";

        led0: led_0 {
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
        };
        led1: led_1 {
            gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        };
        led2: led_2 {
            gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {  //for use outside device tree, e.g. in keymap
        led0 = &led0;
        led1 = &led1;
        led2 = &led2;
    };

    indicators {
        compatible = "zmk,indicator-leds";

        num_lock_indicator: num_lock {
            indicator = <HID_INDICATOR_NUM_LOCK>;
            leds = <&led0>;
        };

        //ble_led indicator has been added in ble.c to indicate bluetooth status
    };
};